<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../../static/styles/tailwind.css">
    <link rel="stylesheet" href="./index.css">
    
    <title> <!-- make title dynamic --> </title>
</head>
<body dir="rtl" class="w-full h-screen flex">
    <div class="bg-cover w-1/2 h-full bg-right side-img hidden md:flex"></div>
    <div class="md:w-1/2 w-full h-full flex justify-center items-center">
        <!-- load components here -->
    </div>
</body>
</html>