@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Black.ttf);
    font-weight: 700;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Variable.ttf);
}

* {
    font-family: vazir ,Arial, Helvetica, sans-serif;
}
.flex-start {
    @apply flex items-start flex-col;
}