@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Light.ttf);
    font-weight: 200;
}

body,input,div,span,h1,h2,h3,label,a {
    font-family: vazir !important;
}
h1,h2,h3 {
    @apply font-black mb-2;
}
h3 {
    @apply text-2xl;
}
p {
    @apply text-secondary;
}

.f-jcb-ic {
    @apply flex justify-between items-center;
}
.ico {
    @apply bg-contain block ml-1 rounded-md bg-secondary;
}
.ico-1 {
    @apply w-5 h-5;
}
.ico-2 {
    @apply w-7 h-7;
}
.artex-logo {
    @apply bg-headLine block w-32 h-10 bg-contain rounded-md;
}
.bg-403 {
    background: #222 url(../assets/images/403.png) no-repeat;
    background-size: cover;
}
.bg-404 {
    background: #222 url(../assets/images/404.png) no-repeat;
    background-size: cover;
}
button {
    border-radius: 9px;
    @apply bg-dark-gray;
}