@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Black-FD.ttf);
    font-weight: 900;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Light.ttf);
    font-weight: 200;
}


.flex-start {
    @apply flex items-start flex-col;
}
.post-preview-icon {
    @apply h-full md:mr-8 mr-4 opacity-80 flex items-center justify-center;
}
.side-bar-link {
    @apply overflow-hidden hover:text-opacity-80 bg-white text-light-gray text-opacity-50 relative p-3 w-full bg-opacity-10 rounded-lg mb-3;
}
.side-bar-link > span {
    @apply h-7 w-2 rounded-md bg-orange block -right-1 top-2.5 absolute;
}


.input {
    @apply pr-3 bg-transparent text-dark-gray text-sm placeholder:text-sm rounded-md mt-3 placeholder:opacity-80 w-full border h-11;
}
.side-img {
    background-image: url(../../static/assets/images/form-pic.png);
}
.button {
    @apply transition duration-200 items-center justify-center w-full h-11 rounded-md flex;
}
.google-btn {
    @apply border hover:bg-dark-gray hover:bg-opacity-10 mt-2;
}
.sign-btn {
    @apply text-white bg-dark-gray pb-1 hover:bg-opacity-80 mt-2;
}
.ico-google {
    background-image: url(../../static/assets/icons/119930_google_512x512.png);
}
.warning {
    @apply text-red-600 text-sm mr-1;
}


body {
    @apply text-dark-gray bg-light w-full h-screen scroll-smooth;
}
body,input,div,span,h1,h2,h3,label,a {
    font-family: vazir, Arial, Helvetica, sans-serif !important;
}
h1,h2,h3 {
    @apply font-black mb-2;
}
h3 {
    @apply text-2xl;
}
p {
    @apply text-secondary;
}

.f-jcb-ic {
    @apply flex justify-between items-center;
}
.ico {
    @apply bg-contain block ml-1 rounded-md bg-secondary;
}
.ico-1 {
    @apply w-5 h-5;
}
.ico-2 {
    @apply w-7 h-7;
}
.artex-logo {
    @apply bg-headLine block w-32 h-10 bg-contain rounded-md;
}
.bg-403 {
    background: #222 url(../assets/images/403.png) no-repeat;
    background-size: cover;
}
.bg-404 {
    background: #222 url(../assets/images/404.png) no-repeat;
    background-size: cover;
}
button {
    border-radius: 7px;
    @apply bg-dark-gray;
}
svg {
    margin-left: 8px;
}