@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Light.ttf);
    font-weight: 200;
}

body,input,div,span,h1,h2,h3,label,a {
    font-family: vazir !important;
}